<div id="banner">
  <div id="iconName">
    <img src="assets/leon.png" height="80px">
    <h1>Leon</h1>
  </div>
</div>
<div id="chat">
  <div class="others messages">
    <div class="message">
      Hallo😄 <br>Ich bin Leon🤖 <br> Wie kann ich dir helfen?
    </div>
  </div>

  <div *ngFor="let message of messages" [ngClass]="{'mine':message.from == 'me','others':message.from == 'bot'}"
       class="mine messages">
    <div class="message">
      {{message.text}}
    </div>
  </div>
</div>
<div id="inputDiv">
  <div contenteditable="true" autofocus spellcheck="true" id="input" [(ngModel)]="text" (keyup.enter)="enter($event)"></div>
  <div id="send" (click)="sendMessage()">
    <svg id="sendIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
      <path fill="red" fill-opacity=".75"
            d="M1.101 21.757L23.8 12.028 1.101 2.3l.011 7.912 13.623 1.816-13.623 1.817-.011 7.912z"></path>
    </svg>
  </div>
</div>
