app-star-rating{
  text-align: center;
}
textarea{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
}
#send{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
