app-star-rating {
  text-align: center;
}

textarea {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
}
mat-form-field{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}
